@charset "UTF-8";
* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #e7e9e3;
}

.hide {
  display: none;
}

.show {
  display: initial;
}

.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

@media (min-width: 600px) {
  .container .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

.container .header .top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  overflow: hidden;
}

@media (min-width: 600px) {
  .container .header .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container .header .nav a {
    display: initial;
  }
}

.container .header a {
  color: #225675;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
}

.container .header a:hover {
  color: #e6873c;
}

.container .header i {
  font-size: 40px;
}

.container .header .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

@media (min-width: 600px) {
  .container .header .hamburger {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container .header .hamburger a:first-child {
    display: none;
  }
}

.container .heading {
  color: #e6873c;
  font-size: 50px;
  font-weight: 400;
}

@media (min-width: 600px) {
  .container .heading {
    color: #e6873c;
    font-size: 80px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #225675;
}

.footer .footerlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  color: white;
  text-decoration: none;
  margin-top: 20px;
}

.footer .footerlink:hover {
  font-weight: bold;
}

.container.home {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-image: url(/background-image-desktop.png);
  background-position: 50% 10%;
}

@media (min-width: 600px) {
  .container.home {
    background-position: 50% 30%;
  }
}

.container.home.hide-background {
  background-image: none;
}

.container.home .logo a {
  color: #e6873c;
}

.container.home .main.home .section.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.container.home .main.home .small-heading.home {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 10% 10%;
  color: #225675;
}

@media (min-width: 600px) {
  .container.home .main.home .small-heading.home {
    font-size: 35px;
  }
}

.container.home .main.home .article.home {
  width: 80%;
  margin-bottom: 8%;
  color: #3d8c95;
}

.container.home .main.home .button.home {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  border-radius: 3px;
  background: #fbf9f5;
  border: none;
  color: #225675;
  font-size: 18px;
  text-decoration: none;
  margin-top: 20%;
  padding: 5px 20px;
}

@media (min-width: 600px) {
  .container.home .main.home .button.home {
    margin-top: 5%;
    margin-left: 10%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.container.contact .main.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container.contact .main.contact .contact-heading-container {
  width: 100%;
  height: 70px;
}

@media (min-width: 600px) {
  .container.contact .main.contact .contact-heading-container {
    padding-left: 30px;
    margin-top: 20px;
  }
}

.container.contact .main.contact .contact-flex-container {
  width: 100%;
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .container.contact .main.contact .contact-flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 500px;
  }
}

.container.contact .main.contact .contact-flex-container .contact-img-container img {
  width: 320px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 600px) {
  .container.contact .main.contact .contact-flex-container .contact-img-container img {
    width: 300px;
    height: 400px;
  }
}

.container.contact .main.contact .contact-flex-container .contact-container {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .container.contact .main.contact .contact-flex-container .contact-container {
    width: 400px;
  }
}

@media (min-width: 900px) {
  .container.contact .main.contact .contact-flex-container .contact-container {
    width: 500px;
  }
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #225675;
  font-size: 14px;
  margin-top: 10px;
}

@media (min-width: 600px) {
  .container.contact .main.contact .contact-flex-container .contact-container .contact-info {
    font-size: 16px;
  }
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #name {
  width: 140px;
  margin: 10px 10px 10px 0;
  padding: 5px;
  border: none;
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #name::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #225675;
  opacity: 1;
  /* Firefox */
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #name:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #225675;
  opacity: 1;
  /* Firefox */
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #name::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #225675;
  opacity: 1;
  /* Firefox */
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #name::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #225675;
  opacity: 1;
  /* Firefox */
}

@media (min-width: 600px) {
  .container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #name {
    width: 160px;
  }
}

@media (min-width: 900px) {
  .container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #name {
    width: 180px;
  }
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #email {
  width: 150px;
  padding: 5px;
  border: none;
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #email::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #225675;
  opacity: 1;
  /* Firefox */
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #email:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #225675;
  opacity: 1;
  /* Firefox */
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #email::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #225675;
  opacity: 1;
  /* Firefox */
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #email::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #225675;
  opacity: 1;
  /* Firefox */
}

@media (min-width: 600px) {
  .container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #email {
    width: 170px;
  }
}

@media (min-width: 900px) {
  .container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #email {
    width: 190px;
  }
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form select {
  width: 300px;
  margin-bottom: 10px;
  padding: 5px;
  color: #225675;
  border: none;
}

@media (min-width: 600px) {
  .container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form select {
    width: 340px;
  }
}

@media (min-width: 900px) {
  .container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form select {
    width: 380px;
  }
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #message {
  width: 300px;
  height: 150px;
  margin-bottom: 10px;
  padding: 5px;
  border: none;
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #message::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #225675;
  opacity: 1;
  /* Firefox */
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #message:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #225675;
  opacity: 1;
  /* Firefox */
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #message::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #225675;
  opacity: 1;
  /* Firefox */
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #message::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #225675;
  opacity: 1;
  /* Firefox */
}

@media (min-width: 600px) {
  .container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #message {
    width: 340px;
  }
}

@media (min-width: 900px) {
  .container.contact .main.contact .contact-flex-container .contact-container .contact-form-container .contact-form #message {
    width: 380px;
  }
}

.container.contact .main.contact .contact-flex-container .contact-container .contact-submit-button {
  padding: 5px 30px 5px 30px;
  font-size: 16px;
  background: #fbf9f5;
  border: #fbf9f5;
  border-radius: 5px;
  color: #225675;
  font-size: 18px;
}

@media screen and (max-width: 400px) {
  body {
    height: 250vh;
  }
}

#currentpage {
  color: #e6873c;
}

.main-text-and-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

@media screen and (max-width: 750px) {
  .main-text-and-pictures {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.employee-container {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 750px) {
  .employee-container {
    width: 100%;
  }
}

.pictures-employees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 500px;
  gap: 25px;
  width: 350px;
}

.main-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 20px;
  max-height: 500px;
  margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
  .main-text {
    width: 100%;
  }
}

.about-text {
  width: 65%;
}

.om-oss-heading {
  margin: 0 0 40 0px;
  color: #e6873c;
  font-size: 50px;
  font-weight: 400;
  width: 65%;
}

.testimonials-heading {
  margin: 50px auto 40px 50px;
}

.testimonials-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  height: 400px;
}

.testimonials-wrapper i {
  font-size: 30px;
  color: #225675;
}

.testimonials-wrapper .pil {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.testimonials-wrapper .pil button {
  background-color: transparent;
  border: none;
}

.testimonials-wrapper .innehåll {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials-wrapper .innehåll > * {
  margin-bottom: 25px;
}

.testimonials-wrapper .stjärnor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials-wrapper .citat-text {
  padding: 15px;
}

.testimonials-wrapper .star {
  margin: auto 10px;
}

.testimonials-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials-footer p {
  color: white;
  margin: 20px 10px 0px 10px;
}

#current-page {
  color: #e6873c;
}
/*# sourceMappingURL=style.css.map */