@import "partials/variables";
@import "partials/mixins";

// skal-styling

* {
  font-family: $main-font;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: $background-color;
}
.hide {
  display: none;
}
.show {
  display: initial;
}

.container {
  .header {
    display: flex;
    flex-direction: column;
    @media (min-width: 600px) {
      flex-direction: row;
      justify-content: space-between;
    }
    .top-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .nav {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      overflow: hidden;
      @media (min-width: 600px) {
        flex-direction: row;
        a {
          display: initial;
        }
      }
    }

    a {
      color: $darkblue;
      padding: 16px 16px;
      text-decoration: none;
      font-size: 17px;
      &:hover {
        color: $orange;
      }
    }
    i {
      font-size: 40px;
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @media (min-width: 600px) {
        flex-direction: row;

        a:first-child {
          display: none;
        }
      }
    }
  }
  .heading {
    @include mobile-headings;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: $darkblue;

  .footerlink {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin-top: 20px;
  }
  .footerlink:hover {
    font-weight: bold;
  }
}

// Patrik Nyfeldt

.home {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-image: url(/background-image-mobile.png);
  @media (min-width: 600px) {
    background-image: url(/background-image-desktop.png);
    background-position: 50% 50%;
  }
}

// Patrik Nyfeldt

// Patrik Lundberg

.container.contact {

  .main.contact {

    .contact-flex-container {
      width: 100%;
      height: 540px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid black;

      @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-evenly;
      }

      .contact-img-container {
        
        img {
          width: 350px;
          height: 200px;

          @media (min-width: 600px) {
            width: 300px;
            height: 400px;
          }
        }
      }

      .contact-container {
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: 600px) {
          width: 400px;
        }

        .contact-info {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          text-align: center;
          color: $darkblue;
          font-size: 14px;
          margin-top: 10px;

          @media (min-width: 600px) {
            font-size: 16px;
          }
        }

        .contact-form-container {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;

          .contact-form {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            #name {
              width: 140px;
              margin: 10px 10px 10px 0;
              padding: 5px;
              border: none;

              &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $darkblue;
                opacity: 1; /* Firefox */
              }

              @media (min-width: 600px) {
                width: 160px;
              }
            }

            #email {
              width: 150px;
              padding: 5px;
              border: none;

              &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $darkblue;
                opacity: 1; /* Firefox */
              }

              @media (min-width: 600px) {
                width: 170px;
              }
            }

            select {
              width: 300px;
              margin-bottom: 10px;
              padding: 5px;
              color: $darkblue;
              border: none;
              
              @media (min-width: 600px) {
                width: 340px;
              }
            }

            #message {
              width: 300px;
              height: 150px;
              margin-bottom: 10px;
              padding: 5px;
              border: none;
              
              &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $darkblue;
                opacity: 1; /* Firefox */
              }
              
              @media (min-width: 600px) {
                width: 340px;
              }
            }
          }
        }

        .contact-submit-button {
          padding: 5px 30px 5px 30px;
          font-size: 16px;
          background: $button-color;
          border: $button-color;
          border-radius: 5px;
          color: $darkblue;
          font-size: 18px;
        }
      }
    }
  }
}







// Patrik Lundberg

// Micke Roos Wahlbeck

// Micke Roos Wahlbeck

// Vidar Rehn

.testimonials-heading {
  margin: 50px auto 40px 50px;
}

.testimonials-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 400px;

  i {
    font-size: 30px;
    color: $darkblue;
  }

  .pil {
    flex-basis: 15%;

    button {
      background-color: transparent;
      border: none;
    }
  }

  .innehåll {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > * {
      margin-bottom: 25px;
    }
  }

  .stjärnor {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .citat-text {
    padding: 15px;
  }

  .star {
    margin: auto 10px;
  }
}

.testimonials-footer {
  display: flex;
  justify-content: center;

  p {
    color: white;
    margin: 20px 10px 0px 10px;
  }
}

#current-page {
  color: $orange;
}

// Vidar Rehn
